{% extends 'base.html' %} {% load static %} {% block HeadContent %}
<link rel="stylesheet" href="{% static 'stylesheets/build/edit_gig.css' %}" />
{% endblock HeadContent %} {% block BodyContent %}
<div class="wrapper">
    <div class='content'>
        <form action="{% url 'edit-gig' gig.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type = "text" placeholder="Title" name = "title" value="{{gig.title}}" /><br />
            <label for="category">Buisness Type: 
                <select name="category" value="{{gig.category}}"><br />
                    <option value="PC">Pest Control</option>
                    <option value="HC">Home Cleaners</option>
                    <option value="GL">Gardening and Landscaping</option>
                    <option value="LS">LockSmith</option>
                    <option value="EL">Electricians</option>
                    <option value="PL">Electricians</option>
                    <option value="MO">Moving</option>
                    <option value="CO">Contractors</option>
                    <option value="OT">Other</option>
                </select>
            </label><br />
            <textarea
                placeholder="Tell us more about your buisness"
                name = "description"
                class = 'about'
            >{{gig.description}}</textarea></br>
            <div>
                <label for="gigPic" id="image">Change Picture</label>
                <input type="file" id="gigPic" name="gigPic" accept="image/*" class='image-input'/>
            </div>
            <section>
                {% if gig.status %} 
                    This gig is active:
                    <input type="hidden" name="status" value="False" />
                    <input type="checkbox" name="status" checked value="True" />
                {% else %}
                    This gig is active:
                    <input type="hidden" name="status" value="False" />
                    <input type="checkbox" name="status" value="True" />
                {% endif %}
            </section>
            <input type = "tel" placeholder="Phone Number" name = "phno" pattern="[0-9]{10}" value="{{gig.phoneNumber}}"/><br />
            <input type = "email" placeholder="Email" name = "email" value="{{gig.email}}"/><br />
            <textarea
                placeholder="Give us an address"
                name = "address"
                class = 'address'
            >{{gig.address}}</textarea></br>
            <input type = 'submit' class='submit' value='Save Changes'/>
        </form>
        <a href="{% url 'my-account' %}" class='cancel'>Cancel</a>
    </div>
</div>
<script src="{% static 'js/edit_gig.js' %}"></script>
{% endblock BodyContent %}
